
<li class="home-article-item" style="width: 80%;">
   
    <% if (item.cover && item.cover !== null && item.cover !== false) { %>
        <div class="home-article-thumbnail">
            <a href="<%- config.root %><%- item.path %>" >
                <img src="<%- url_for(item.cover) %>" alt="<%= item.title %>" />
            </a>
        </div>
    <% } else if (item.banner && item.banner !== null && item.banner !== false) { %>
        <div class="home-article-thumbnail">
            <a href="<%- config.root %><%- item.path %>" >
                <img src="<%- url_for(item.banner) %>" alt="<%= item.title %>" />
            </a>
        </div>
    <% } %>
    <h3 class="home-article-title">
        <a href="<%- config.root %><%- item.path %>" data-pjax-state=""><%- item.title %></a>
    </h3>
    <div class="home-article-content markdown-body"><%- item.excerpt %></div>
    <div class="home-article-meta-info-container">
        <div class="home-article-meta-info">
            <span>
                <i class="fa-solid fa-calendars"></i>
                <span class="home-article-date" >
                    <%= item.date.format(config.date_format) %>
                </span>
            </span>
            <span class="home-article-tag">
                <i class="fa-solid fa-tags"></i>&nbsp;
                <%- partial('article-tags', {item: item}) %>
                <%- partial('article-categories', {item: item}) %>
            </span>
        </div>
        <% if(item.excerpt) { %>
            <p>
                <a href="<%- config.root %><%- item.path %>">
                    <%= theme.excerpt_link %>
                </a>
            </p>
        <% } %>
    </div>
</li>
