<html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <!-- Menu -->
    <%- partial('_partial/menu-left') %>
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>

    <% if ( is_home() ) { %>
        <%- partial('_partial/components/first-screen') %>
    <% } %>
    
    <%- body %>


    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>

</html>