<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100" style="z-index: 99;">
        <h1><%= theme.base_info.title %></h1>
        <p>I'm <span class="typed" style="color: #00cab5;" data-typed-items="<%= theme.base_info.name %>"></span></p>
        <div class="social-links">
            <% for (var i in theme.socialMedia){ %>
                <a href="<%- url_for(theme.socialMedia[i].url) %>" class="<%- i %>"><i class="<%- theme.socialMedia[i].icon %>"></i></a>
            <% } %>
        </div>
    </div>

</section>


